/* Author -- Adarsh Maurya */

*{
    margin: 0;
    padding: 0;
}
.bg-head{
    background-color: white;

}
.bg-main{
    background-color: #e8e3e3 ;

}
ul{
    list-style-type: none;
    text-align: center;

}
li{
    padding: 15px 0;
    margin: 0 15px;
}
li a{
    text-decoration: none;
    
}
.font-m{
    font-family: sans-serif, monospace;
    font-size: 26px;
    font-weight: 500;
    color: black;

}
.font-s{
    font-family: sans-serif,monospace;
    font-size: 14px;
    font-weight: 500;
    color: #314d4f;

}
.container{
    height: auto;
    width: 100%;
}
.container h1{
    font-size: 25px;
    text-align: center;
    margin: 10px auto;

}
.dp-block{
    display: block;
    width: 100%;

    padding: 0 5px;
}
.s-cont{
    width: auto;
    margin: 0 20rem;
    height: 400px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;

}
.btn{
    width: 8rem;
    height: 3rem;
    margin: 10px 0;
    border-radius: 6px;
    border: 0px solid #2CD3E1;
    font-size: 16px;
}
.btn:hover{
    background-color: #314d4f;
    color: white;
}
.title{
    font-size: 22px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.table{
    width: 100%;
    height: auto;
    border-collapse: collapse;

}
.s-cont2{
    margin: 10px 0;
    width: 100%;

}
tr{
    border-bottom: 1px solid #a9b8b9;
    height: 2rem;
}
td{
    text-align: center;
}

.font-c{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    font-weight: 500;
}
.switch{
    text-align: center;
}
.time-box-para{
    text-align: center;
}
.clock-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}