/* Author -- Adarsh Maurya */

*{
    margin: 0;
    padding: 0;
}
.bg-head{
    background-color: white;

}
.bg-main{
    background-color: #e8e3e3 ;

}
ul{
    list-style-type: none;
    text-align: center;

}
li{
    padding: 15px 0;
    margin: 0 15px;
}
li a{
    text-decoration: none;
    
}
.font-m{
    font-family: sans-serif, monospace;
    font-size: 26px;
    font-weight: 500;
    color: black;

}
.font-s{
    font-family: sans-serif,monospace;
    font-size: 14px;
    font-weight: 500;
    color: #314d4f;

}
.container{
    height: auto;
    width: 100%;
}
.container h1{
    font-size: 25px;
    text-align: center;
    margin: 10px auto;

}
.dp-block{
    display: block;
    width: 100%;

    padding: 0 5px;
}
.s-cont{
    width: auto;
    margin: 0 20rem;
    height: 400px;
    background-color: white;
    border: 2px solid white;
    border-radius: 5px;

}
.btn{
    width: 8rem;
    height: 3rem;
    margin: 10px 0;
    border-radius: 6px;
    border: 0px solid #2CD3E1;
    font-size: 16px;
}
.btn:hover{
    background-color: #314d4f;
    color: white;
    cursor: pointer;
}
.btn-clicked{
    background-color: #314d4f;
    color: white;

}
.btn-released{
    color:black;
    background-color: #a9b8b9;
}
/* #dg{
    background-color: #314d4f;
    color:white;
} */
.d-none{
    display: none;
}
.title{
    font-size: 22px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.table{
    width: 100%;
    height: auto;
    border-collapse: collapse;

}
.s-cont2{
    margin: 10px 0;
    width: 100%;

}
tr{
    border-bottom: 1px solid #a9b8b9;
    height: 2rem;
}
td{
    text-align: center;
}

.font-c{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    font-weight: 500;
}
.switch{
    text-align: center;
}
.time-box-para{
    text-align: center;
}
.clock-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.clock-dial{
    width: 300px;
    height: 300px;
    border: 6px solid #2CD3E1;
    border-radius: 50% ;
    position: relative;

}
.point{
    background-color: #314d4f;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 144px;
    right: 144px;
}
.hour{
    font-size: 18px;
    font-weight: bold;
    font-family: sans-serif, monospace;
    color:#314d4f;
}
.hour-1{
    position: absolute;
    top: 28px;
    right: 83px;
}
.hour-2{
    position: absolute;
    top: 72px;
    right: 37px;
}
.hour-3{
    position: absolute;
    top: 133px;
    right: 14px;
}

.hour-4{
    position: absolute;
    top: 195px;
    right: 29px;
}
.hour-5{
    position: absolute;
    top: 248px;
    right: 70px;
}
.hour-6{
    position: absolute;
    top: 267px;
    right: 140px;
}
.hour-7{
    position: absolute;
    top: 246px;
    right: 209px;
}
.hour-8{
    position: absolute;
    top: 199px;
    right: 255px;
}
.hour-9{
    position: absolute;
    top: 140px;
    right: 272px;
}
.hour-10{
    position: absolute;
    top: 75px;
    right: 250px;
}
.hour-11{
    position: absolute;
    top: 28px;
    right: 204px;
}
.hour-12{
    position: absolute;
    top: 24px;
    right: 204px;
}
.hour-12{
    position: absolute;
    top: 8px;
    right: 136px;
}

.brand{
    font-size: 18px;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    color: #2CD3E1;
    left: 38.9%;
    top: 56px;
}

.minute-hand-wrapper{
    width: 200px;
    height: 200px;
    /* background-color: #314d4f; */
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right:50px;
}
.minute-hand{
    position: relative;

}
.minute-hand .hand{
    width: 3px;
    height: 100px;
    background-color: #314d4f;
    position: absolute;
    left: 99px;
    top: 0px;

}
.minute-hand .arrow{
    font-family: sans-serif, monospace;
    font-size: 16px;
    color: #314d4f;
    transform: rotate(180deg);
    position: absolute;
    left: 95px;
    top: -6px;
}

.hour-hand-wrapper{
    width: 200px;
    height: 200px;
    /* background-color: #314d4f; */
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right:50px;
}
.hour-hand{
    position: relative;

}
.hour-hand .hand{
    width: 4px;
    height: 50px;
    background-color: #314d4f;
    position: absolute;
    left: 98px;
    top: 045px;

}
.hour-hand .arrow{
    font-family: sans-serif, monospace;
    font-size: 17px;
    color: #314d4f;
    font-weight: bold;
    transform: rotate(180deg);
    position: absolute;
    left: 94px;
    top: 38px;
}
.second-hand-wrapper{
    width: 250px;
    height: 250px;
    /* background-color: #314d4f; */
    border-radius: 50%;
    position: absolute;
    top: 25px;
    right:25px;
}
.second-hand{
    position: relative;

}
.second-hand .hand{
    width: 1px;
    height: 115px;
    background-color: #314d4f;
    position: absolute;
    left: 125px;
    top: 10px;

}
